<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
  <head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.4 -->
    <% include commons/css.ejs %>
    <link href="/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    .popover1 {
      width: "48%"
    }
    .alertStudent{
      margin: 3px;
    padding: 7px;
    transition: opacity 2s;
    }
    .popover-content{
      font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
      color: green;
      line-height: 1.42857;
      font-weight: 600;
    }
    </style>
  </head>
 <body class="skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <% include commons/header.ejs %>
      <!-- Left side column. contains the logo and sidebar -->
     <% include commons/sidebar.ejs %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
         <!-- Your Page Content Here -->
          <div class="row">
              <div class="col-md-6" >
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Student Registration Form:</h3><br>
                  <span class="text-danger">All fields should be fill:</span>
                </div>
              <!-- form start -->
                <form role="form" id="studentForm" onsubmit="return false;">
                  <div class="box-body" id="studentRegForm">
                    <div class="form-group row">
                      <label for="studentName" class="col-xs-3">Student Name:</label>
                      <div class="col-xs-6">
                      <input type="text" placeholder="Student Name" id="studentName" class="required form-control" 
                       name="studentName" autoComplete="off" >
                      <div class="col-xs-6" id="studentError"></div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="studentName" class="col-xs-3">Gender</label>
                      <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" checked="" value="Male"  name="gender" class="required">
                          Male
                        </label>
                        <label>
                          <input type="radio" checked="" value="Female" name="gender" class="required">
                          Female
                        </label>
                      </div>
                      <div class="col-xs-6" id="studentError"></div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="classLevel" class="col-xs-3">CLass</label>
                       <div class="col-xs-6">
                       <select id="classLevel" name="classLevel" class="required">
                          <option value="">--select--</option>
                          <option value="I">I</option>
                          <option value="II">II</option>
                          <option value="III">III</option>
                          <option value="IV">IV</option>
                          <option value="V">V</option>
                          <option value="VI">VI</option>
                          <option value="VII">VII</option>
                          <option value="IIX">IIX</option>
                          <option value="IX">IX</option>
                          <option value="X">X</option>
                       </select>
                    </div>
                    </div>

                    <div class="form-group row">
                      <label for="section" class="col-xs-3" >Section</label>
                      <div class="col-xs-6">
                        <select id="section" name="section" class="required">
                         <option value="">--select--</option>
                         <option value="A">A</option>
                         <option value="B">B</option>
                         <option value="C">C</option>
                         <option value="D">D</option>
                         </select>
                       
                      </div>
                      
                    </div>

                    <div class="form-group row">
                      <label for="section" class="col-xs-3" >Contact No</label>
                      <div class="col-xs-6">
                        <input type="text" placeholder="Contact No" id="contact" name="contact" class="required form-control numberOnly" value="" maxlength="10">
                      <div class="col-md-9" id="phoneError" style="color:red;"></div>
                      </div>

                    </div>

                    <div class="form-group row">
                      <label for="section" class="col-xs-3" >D.O.B</label>
                      <div class="col-xs-6">
                        <input type="text" placeholder="DOB" id="dob" name="dob" class="form-control required" value="" >
                      </div>
                    </div>

                    <!-- <div class="form-group row">
                      <label for="annualFee" class="col-xs-3">Fee Categories</label>
                      <div class="col-xs-6">
                         <div class="checkbox">
                       <% for(var i=0;i<feeType.length;i++){%>
                     
                        <label>
                          <input type="checkbox" class="feeType required" name="feeType" value="<%=feeType[i]%>">
                          <%= feeType[i]%>
                        </label>&nbsp;
                      <%}%> 
                       </div>
                       <div class="col-xs-9" id="feeTypeError" style="display:none; color:red;">Altest one should be </div>
                    </div>
                    </div> -->

                   <!--  <div class="form-group row">
                      <label for="annualFee" class="col-xs-3">Annual fee</label>
                      <div class="col-xs-6">
                      <input type="number" placeholder="Enter Fee" id="annualFee" name="annualFee" class="form-control" value="" REQUIRED >
                      </div>
                    </div> -->

                    <!-- <div class="form-group row">
                      <label for="feeInterval" class="col-xs-3">Fee Intervals:</label>
                      <div class="col-xs-6">
                      <select id="feeInterval" name="feeInterval" class="required">
                        <option value="">--select--</option>
                        <option value="1">Intant Pay</option>
                        <option value="2">2 Terms</option>
                        <option value="3">3 Terms</option>
                        <option value="4">4 Terms</option>
                      </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="dueDate" class="col-xs-3">Current due date:</label>
                      <div class="col-xs-6">
                      <input type="text" placeholder="" id="dueDate" class="form-control required"  
                       name="dueDates" value="" >
                       <div id="pop" class="popover fade right in" style="display: none;left: 253.5px;top: -40px; width: 115px;z-index: 999;"><div class="arrow" style=""></div>
                       <h3 class="popover-title" style="color:red;">Due Dates :</h3><div class="popover-content">
                       </div></div>
                      </div>

                    </div> -->

                    <!-- <div class="form-group row">
                      <label class="col-xs-3">Nofify</label>
                      <div class="col-xs-6">
                       <div class="radio"> 
                      <label>
                      <input type="radio" name="notify" checked="" value="1" class="required">On ( if due not paid )</input>
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                      <input type="radio" name="notify" value="0" class="required">Off ( If due paid )</input>
                      </label>
                    </div>
                      </div>
                    </div> -->
                  
                  </div><!-- /.box-body -->

                  <!-- Fee reg tab -->
                   <div class="box-body" id="feeRegForm">

                   </div>
                  <!-- Input type hidden feilds declaration-->
                  
                  <input type="hidden" value="/default_user.png" name="photoPath">
                  <input type="hidden" value="1" name="notify">
                  <input type="hidden" value="Newely registred. Payment need to be done.." name="remark">
                  <div class="box-footer" >
                    <div style="margin-left:25%">
                    <button class="btn btn-primary" type="reset" id="reset">Reset</button>
                   <!--  <button class="btn btn-primary" type="button" id="next">Next</button> -->        
                    <!--  <button class="btn btn-primary" id="back" type="button"  style="display:none;">Back</button> -->
                      <button class="btn btn-primary" type="submit" id="saveStudent">
                    Save</button>
                    </div>
                  </div>
                </form>
              </div>        
            
              </div>

              <!-- Activiy Log-->
              <div class="col-md-6">
                  <div class="box box-primary">
                      <div class="box-header">
                          <h3 class="box-title">Today Registered Students Log:</h3>
                      </div>
                      <div class="box-body" style="max-height:430px;  overflow-y: scroll;" id="todayRegister">
                         <%
                         for(var i=0 ;i<result.length; i++){
                          %>
                           <div class="alert alert-success alertStudent" style="cursor:pointer;" onclick="makePayment('<%=result[i]._id; %>')">Student Name : <%=result[i].studentName; %> ,
                             Section : <%=result[i].section; %>, Class : <%= result[i].classLevel; %>, 
                              <strong> Student_code : <%=result[i].sec_code; %></strong>&nbsp;&nbsp;
                              <a href="#" onclick="makePayment('<%=result[i]._id; %>')"><b>Pay</b></a>
                           </div>
                          <%
                         }
                         %>
                      </div>
                  </div>
              </div>

          </div>
        </section><!-- /.content -->
      
      </div><!-- /.content-wrapper -->
      <!-- due dates popup-->

      <% include commons/footer.ejs %>
      
      
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class='control-sidebar-bg'></div>
    </div><!-- ./wrapper -->

      <!-- Required Modal popups -->
      <div class="modal fade" id="feeRegInfo" > 
              <div class="modal-dialog" style="width:60%;">
                <div class="modal-content" >
                  <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <span class="modal-title"><b>Registration Error:</b></span>
                  </div>
                  <div class="modal-body " id="feeRegInfo-body">
                    
                  </div>
                  <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default pull-left" type="button">Close</button>
                    <button class="btn btn-primary" type="button" id="showFeeRegForm">Go</button>
                  </div>

                </div><!-- /.modal-content -->

              </div><!-- /.modal-dialog -->
            </div>

            <div class="modal fade" id="regFrom" > 
              <div class="modal-dialog" style="width:60%;">
                <div class="modal-content" id="regFrom-body">
                  
                </div><!-- /.modal-content -->

              </div><!-- /.modal-dialog -->
            </div>

             <!-- Payment Modal start here-->
            <div class="modal fade" id="makePayment" > 
              <div class="modal-dialog" style="width:60%;">
                <div class="modal-content" id="makePayment-body">

                </div><!-- /.modal-content -->

              </div><!-- /.modal-dialog -->
            </div>
    <!-- REQUIRED JS SCRIPTS -->

      <% include commons/scripts.ejs %>
       <script src="/lib/moment/min/moment.min.js" type="text/javascript"></script>
       <script src="/bootstrap/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
       <script type="text/javascript" src="/student.js"></script>
        <script type="text/javascript" src="/makePayment.js"></script>
      </body>
</html>